.me{
    margin-top: 30px;
    border-radius: 10px;
    height: auto;
    width: 50%;
}

.home-container{
    padding: 10px;
    width: 75%;
    border-radius: 7px;
    background-color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}